.main-content-container {
    border: 2px solid black;
}

.account-header {
    text-align: center;
}

.account-totals-container {
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
}

.total-value-header {
    margin-right: 10px;
}

.transactions-container {
    display: flex;
    flex-direction: column;
}

.transactions-header {
    display: flex;
    justify-content: center;
}

.transactions-header h4 {
    margin-left: 50px;
}